LOGGING=true
PORT=3000
SHAPE_FILE=./shapes/coar-notify.ttl
SCHEMA_FILE=./shapes/notification.json
APP_NAME="COAR Notify"
APP_TITLE="VALIDATOR"
SAFE_MODE="true"
CACHE=./etc/cache.json
MAX_UPLOAD_SIZE=5000